@font-face {
    font-family: "sarasa";
    src: local("Sarasa Mono Slab SC SemiBold"),
        url("./files/SarasaMonoSlabSC-SemiBold.woff2") format("woff2"),
        url("./files/SarasaMonoSlabSC-SemiBold.woff") format("woff"),
        url("./files/SarasaMonoSlabSC-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}