@font-face {
    font-family: "sarasa";
    src: local("Sarasa Mono Slab SC Light"),
        url("./files/SarasaMonoSlabSC-Light.woff2") format("woff2"),
        url("./files/SarasaMonoSlabSC-Light.woff") format("woff"),
        url("./files/SarasaMonoSlabSC-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}